# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    
    1.	Python
    2.	R 
    3.	SQL
    4.	Scala
    5.	Java
    6.	C++
    7.	Julia 
    8.	Javascript
    9.	Php
    10.	Go
    11.	Ruby
    12.	Visual Basic

Some of the commonly used libraries used by Data Scientists include:
    
    1.	Pandas
    2.	Numpy
    3.	Matplotlib
    4.	Seaborn
    5.	Scikit-learn
    6.	Keras
    7.	Tensorflow
    8.	PyTorch
    9.	Apache Spark 
    10.	Vegas
    11.	Big DL
    12.	Ggplot2

| Data Science Tools |
---------------------
| Anaconda |
| Jupyter Notebooks |
| R Studio |
| Spyder |
| Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
3 + 4

7

In [4]:
3 - 4

-1

In [5]:
3 * 4

12

In [6]:
3 / 4

0.75

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes /60
hours

3.3333333333333335

**Objectives:**
- Add comments to code cells
- Create markdown cells
- Add ordered and inordered lists to markdown cells 
- Format content of markdown cells with heading styles

## Author
Ricardo Sanchez